div{
    height: 100px;
    width: 100px;
    background-color:lightgreen;
    /* border: 2px solid black; */
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 8px black;

}